//
// @param {integer} $num-columns How many columns the grid should have
// @param {integer} $column-gutter-size The size of the gap between columns
// @param {integer} $row-gutter-size The size of the gap between rows
//
@mixin grid($num-columns:12, $column-gutter-size:0, $row-gutter-size:0) {
    display: grid;
    grid-template-columns: repeat($num-columns, 1fr);
    column-gap: $column-gutter-size;
    row-gap: $row-gutter-size;
}

//
// @param {integer} $span How wide the column should be
// @param {integer|null} $start Where in the grid this column should start 
// for a list of possible values.
//
@mixin column($span: 1, $start:null) {
    min-height: 1px;
    position: relative;
    grid-column: #{if($start, '#{$start}/span #{$span}', 'span #{$span}')};
}