@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "BLOKKNeue-Regular";
  src: url("fonts/blokk-neue-regular/web/BLOKKNeue-Regular.eot");
  src: url("fonts/blokk-neue-regular/web/BLOKKNeue-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/blokk-neue-regular/web/BLOKKNeue-Regular.woff") format("woff"), url("fonts/blokk-neue-regular/web/BLOKKNeue-Regular.svg#BLOKKNeue-Regular") format("svg");
}
* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  min-height: 100%;
}

body {
  padding: 20px;
  margin: 0;
  display: block;
  position: relative;
  font-family: "BLOKKNeue-Regular";
  font-size: 10px;
}

.sample-content {
  background-color: #999999;
  display: block;
  width: 100%;
  min-height: 1px;
  height: 100%;
}

.page {
  min-height: 100%;
  margin: auto;
  border: solid 1px grey;
  max-width: 960px;
  min-width: 320px;
  font-size: 1rem;
  padding: 0 12px 12px 12px;
}
.page__header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  height: 75px;
}
.page__logo {
  min-height: 1px;
  position: relative;
  grid-column: 1/span 4;
  height: 100%;
  padding: 12px 0;
}
.page__account-actions {
  min-height: 1px;
  position: relative;
  grid-column: 5/span 8;
  height: 100%;
  padding: 12px 0;
}
.page__site-nav .nav-items {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  height: 100%;
  margin: 0 0 12px 0;
  padding: 0;
  list-style-type: none;
}
.page__site-nav .nav-item {
  min-height: 1px;
  position: relative;
  grid-column: span 3;
  height: 100%;
  list-style-type: none;
  text-align: center;
}
.page__site-nav .sample-content {
  height: 25px;
}
.page__footer {
  height: 75px;
  min-height: 1px;
  position: relative;
  grid-column: span 12;
}
.page__hero-image-container .hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px grey;
  height: 320px;
}
@media (max-width: 430px) {
  .page__hero-image-container .hero-image {
    height: 150px;
  }
}
.page__hero-image-container .hero-image--seattle {
  background-image: url("../img/seattle.svg");
}
.page__company-slogan {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  padding: 12px 0 12px 0px;
  height: 50px;
}
.page__company-slogan .slogan {
  height: 100%;
}
.page__company-slogan .slogan--phrase-1 {
  min-height: 1px;
  position: relative;
  grid-column: 1/span 2;
}
.page__company-slogan .slogan--phrase-2 {
  min-height: 1px;
  position: relative;
  grid-column: 6/span 2;
}
.page__company-slogan .slogan--phrase-3 {
  min-height: 1px;
  position: relative;
  grid-column: 11/span 2;
}
.page__cities {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  margin-bottom: 12px;
}
.page__city {
  min-height: 1px;
  position: relative;
  grid-column: span 3;
  color: grey;
}
@media (max-width: 745px) {
  .page__city {
    min-height: 1px;
    position: relative;
    grid-column: span 6;
  }
}
@media (max-width: 430px) {
  .page__city {
    min-height: 1px;
    position: relative;
    grid-column: span 12;
  }
}
.page__city .city-info {
  border: solid 1px gray;
  padding: 12px;
}
.page__city .city-image {
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px grey;
  display: block;
  height: 150px;
}
.page__city .city-image--beijing {
  background-image: url("../img/beijing.svg");
}
.page__city .city-image--hong-kong {
  background-image: url("../img/hong-kong.svg");
}
.page__city .city-image--kiev {
  background-image: url("../img/kiev.svg");
}
.page__city .city-image--new-york {
  background-image: url("../img/new-york.svg");
}
.page__city .city-image--seattle {
  background-image: url("../img/seattle.svg");
}
.page__city .city-description {
  padding-top: 12px;
}

/*# sourceMappingURL=styles.css.map */
