@import '../_grid';

%clearfix {
    &:after {
        content: '';
        display: table;
        visibility: hidden;
        clear: both;
    }
}

/// FONTS

$font-base-file-name: 'BLOKKNeue-Regular';
$font-file-path: 'fonts/blokk-neue-regular/web';

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'BLOKKNeue-Regular';
        src: url('#{$font-file-path}/#{$font-base-file-name}.eot');
        src:
            url('#{$font-file-path}/#{$font-base-file-name}.eot?#iefix')
            format('embedded-opentype'),

            url('#{$font-file-path}/#{$font-base-file-name}.woff')
            format('woff'),

            url('#{$font-file-path}/#{$font-base-file-name}.svg##{$font-base-file-name}')
            format('svg');
}
/////////

$bp-large: 2000px;
$bp-medium: 745px;
$bp-small: 430px;

///// RESETS

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    min-height: 100%;
}

body {
    padding: 20px;
    margin: 0;
    display: block;
    position: relative;
    font-family: 'BLOKKNeue-Regular';
    font-size: 10px;
}
////


//// Helper Classes
.sample-content {
    background-color: #999999;
    display: block;
    width: 100%;
    min-height: 1px;
    height: 100%;
}
////

.page {
    min-height: 100%;
    margin: auto;
    border: solid 1px grey;         
    max-width: 960px;
    min-width: 320px;
    font-size: 1rem;
    padding: 0 12px 12px 12px;

    &__header {
        @include grid(12);
        height: 75px;
    }

    &__logo {
        @include column(4, 1);
        height: 100%;
        padding: 12px 0;
    }

    &__account-actions {
        @include column(8, 5);
        height: 100%;
        padding: 12px 0;
    }

    &__site-nav {
        .nav-items {
            @include grid();
            height: 100%;
            margin: 0 0 12px 0;
            padding: 0;
            list-style-type: none;
        }
        .nav-item {
            @include column(3);
            height: 100%;
            list-style-type: none;
            text-align: center;
        }
        .sample-content {
            height: 25px;
        }
    }

    &__footer {
        height: 75px;
        @include column(12);
    }

    &__hero-image-container {
        .hero-image {
            background-repeat: no-repeat;
            background-size: cover;
            border: solid 1px grey;
            @media(max-width: $bp-small) {
                height: 150px
            }
            height: 320px;
            &--seattle { background-image: url('../img/seattle.svg'); }
        }
    }

    &__company-slogan {
        @include grid(12);
        padding: 12px 0 12px 0px;
        height: 50px;
        .slogan {
            height: 100%;

            &--phrase-1 {
                @include column(2, 1);
            }          
            &--phrase-2 {
                @include column(2, 6);
            }
            &--phrase-3  {
                @include column(2, 11);
            }
        }
    }

    &__cities {
        @include grid();
        margin-bottom: 12px;
    }

    &__city {
        @include column(3);
        color: grey;
        @media(max-width: $bp-medium) {
            @include column(6);
        }
        @media(max-width: $bp-small) {
            @include column(12);
        }
        .city-info {
            border: solid 1px gray;
            padding: 12px;
        }
        .city-image {
            background-repeat: no-repeat;
            background-size: cover;
            border: solid 1px grey;
            display: block;
            height: 150px;
            &--beijing { background-image: url('../img/beijing.svg'); }
            &--hong-kong { background-image: url('../img/hong-kong.svg'); }
            &--kiev { background-image: url('../img/kiev.svg'); }
            &--new-york { background-image: url('../img/new-york.svg'); }
            &--seattle { background-image: url('../img/seattle.svg'); }
        }
        .city-description {
            padding-top: 12px;
        }
    }
}